body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  #container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
  }

  form {
    margin-bottom: 20px;
    padding: 3.125rem;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  select {
    width: 100%;
    padding: .5rem;
    margin-bottom: 10px;
  }

  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: .625rem;
  }

  button:hover {
    background-color: #45a049;
  }

  #operacionesMatematicas,
  #calculoPromedio {
    display: none;
  }

  #mensaje {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    border-radius: 4px;
  }

  #mensaje.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
  }

  .nota-input {
    width: calc(100% - 22px);
    display: inline-block;
  }

  #logged-in {
    display: none;
  }